@use './variables' as *;
@use './mixins' as *;

body{
    background-color: $stone100;
    @include flex(center, center);
}

.container{
    background-color: $white;
}

.main-content{
    padding: 2.5rem 2rem;
    @include flex(center, center, column, 2rem);
}

.introduction{
    @include flex(center, center, column, 1.5rem);
}

li{
    padding-left: 1rem;
    margin: 0.5rem 2rem 0.5rem 1.5rem;
}

.info{
    width: 100%;
    background-color: $rose50;
    padding: 1.5rem;
    border-radius: 0.75rem;
    
    &--heading{
        margin-bottom: 1rem;
    }
        
    &--list li::marker{
        color: $rose800;
    }
}

.divider{
    height: 1px;
    width: 100%;
    background-color: $stone150;
}

.section--heading{
    margin-bottom: 1.5rem;
}

.ingredients{
    &--list li::marker{
        color: $brown800;
    }
}

.instructions{
    &--list li::marker{
        color: $brown800;
        font-weight: 700;
    }
}

.nutrition{
    &--text{
        margin-bottom: 1.5rem;
    }

    &--grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);

        & *{
            border-bottom: 1px solid $stone150;
            padding: 0.75rem 0;
        }

        & p{
            padding-left: 2rem;
        }
    }
}

.last-element{
    border-bottom: none;
}

.attribution{
    font-family: Oufit;
    font-size: 12px; 
    text-align: center;
    background-color: $white;
    width: 100%;
}

.attribution a{ 
    color: hsl(228, 45%, 44%); 
}